.App {
  text-align: center;
  background-color: lightgray;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.SecondContainer {
  background-color: darkgray;
  padding: 20px;
  margin-top: 20px;
}

.ThirdContainer {
  background-color: lightblue;
  padding: 20px;
  margin-top: 20px;
}