#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  text-align: center;
  flex-direction: column;
}

h2 {
  font-size: 2.5rem;
  color: #333;
}
